In [1]:
import pandas as pd
import numpy as np
import cv2
from random import randint
from matplotlib import pyplot as plt

### Читаем все данные из Csv файла

In [49]:
#1
df = pd.read_csv('dataset.csv', delimiter=';')
print("DataFrame:")
df

DataFrame:

                                          Absolute path  Class
0     C:\Users\79093\Desktop\Application progra\pars...  DogIT
1     C:\Users\79093\Desktop\Application progra\pars...  DogIT
2     C:\Users\79093\Desktop\Application progra\pars...  DogIT
3     C:\Users\79093\Desktop\Application progra\pars...  DogIT
4     C:\Users\79093\Desktop\Application progra\pars...  DogIT
...                                                 ...    ...
2195  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2196  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2197  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2198  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2199  C:\Users\79093\Desktop\Application progra\pars...  CatIT

[2200 rows x 2 columns]

### Именнуем колонки по тз

In [50]:
#2
df = df.rename(columns={"Absolute path": "absolute_path", "Class": "class_"})
print("Именнуем колонки в соответствие с заданием")
df

Именнуем колонки в соответствие с заданием

                                          absolute_path class_
0     C:\Users\79093\Desktop\Application progra\pars...  DogIT
1     C:\Users\79093\Desktop\Application progra\pars...  DogIT
2     C:\Users\79093\Desktop\Application progra\pars...  DogIT
3     C:\Users\79093\Desktop\Application progra\pars...  DogIT
4     C:\Users\79093\Desktop\Application progra\pars...  DogIT
...                                                 ...    ...
2195  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2196  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2197  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2198  C:\Users\79093\Desktop\Application progra\pars...  CatIT
2199  C:\Users\79093\Desktop\Application progra\pars...  CatIT

[2200 rows x 2 columns]

### Цифровая метка

In [53]:
df['tag']=df['class_'].apply(lambda x: '0' if x == 'DogIT' else '1')
df

                                          absolute_path class_ tag
0     C:\Users\79093\Desktop\Application progra\pars...  DogIT   0
1     C:\Users\79093\Desktop\Application progra\pars...  DogIT   0
2     C:\Users\79093\Desktop\Application progra\pars...  DogIT   0
3     C:\Users\79093\Desktop\Application progra\pars...  DogIT   0
4     C:\Users\79093\Desktop\Application progra\pars...  DogIT   0
...                                                 ...    ...  ..
2195  C:\Users\79093\Desktop\Application progra\pars...  CatIT   1
2196  C:\Users\79093\Desktop\Application progra\pars...  CatIT   1
2197  C:\Users\79093\Desktop\Application progra\pars...  CatIT   1
2198  C:\Users\79093\Desktop\Application progra\pars...  CatIT   1
2199  C:\Users\79093\Desktop\Application progra\pars...  CatIT   1

[2200 rows x 3 columns]

### 4 Пункт

In [56]:

height_list = []
width_list = []
channels_list = []
size_list = []
absolute_path_list = df.absolute_path.tolist()
for row in absolute_path_list:
    image = cv2.imread(row)
    height_list.append(image.shape[0])
    width_list.append(image.shape[1])
    channels_list.append(image.shape[2])
    size_list.append(image.size)
df["height"] = height_list
df["width"] = width_list
df["channels"] = channels_list
df["size"] = size_list
print("Добавление высоты|ширины|размера изображений")
df

Добавление высоты|ширины|размера изображений

,absolute_path,class_,tag,height,width,channels,size
0,C:\Users\79093\Desktop\Application progra\pars...,DogIT,0,270,480,3,388800
1,C:\Users\79093\Desktop\Application progra\pars...,DogIT,0,320,427,3,409920
2,C:\Users\79093\Desktop\Application progra\pars...,DogIT,0,320,480,3,460800
3,C:\Users\79093\Desktop\Application progra\pars...,DogIT,0,320,389,3,373440
4,C:\Users\79093\Desktop\Application progra\pars...,DogIT,0,320,240,3,230400
...,...,...,...,...,...,...,...
2195,C:\Users\79093\Desktop\Application progra\pars...,CatIT,1,270,480,3,388800
2196,C:\Users\79093\Desktop\Application progra\pars...,CatIT,1,320,346,3,332160
2197,C:\Users\79093\Desktop\Application progra\pars...,CatIT,1,300,480,3,432000
2198,C:\Users\79093\Desktop\Application progra\pars...,CatIT,1,320,434,3,416640
2199,C:\Users\79093\Desktop\Application progra\pars...,CatIT,1,320,360,3,345600

### Пункт 5

In [59]:
df[["height", "width", "channels"]].describe()

            height        width  channels           size
count  2200.000000  2200.000000    2200.0    2200.000000
mean    310.423182   442.525455       3.0  411033.818182
std      15.024839    64.635187       0.0   57667.840976
min     241.000000   180.000000       3.0  172800.000000
25%     300.000000   427.000000       3.0  403200.000000
50%     320.000000   480.000000       3.0  432000.000000
75%     320.000000   480.000000       3.0  453600.000000
max     320.000000   480.000000       3.0  460800.000000